@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: #f9fafb;
}

.dark {
  color-scheme: dark;
  background-color: #030712;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
